--
-- PostgreSQL database dump
--

\restrict qb1XCj486KddVdTFdWjRWYAr7MDG5Zk23HV6VwHtIIA1DFB5qNRft4dl8PkEpzX

-- Dumped from database version 17.6
-- Dumped by pg_dump version 18.4

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET transaction_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: public; Type: SCHEMA; Schema: -; Owner: pg_database_owner
--

CREATE SCHEMA public;


ALTER SCHEMA public OWNER TO pg_database_owner;

--
-- Name: SCHEMA public; Type: COMMENT; Schema: -; Owner: pg_database_owner
--

COMMENT ON SCHEMA public IS 'standard public schema';


SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: admins; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.admins (
    admin_id uuid DEFAULT gen_random_uuid() NOT NULL,
    name text NOT NULL,
    role text NOT NULL,
    status text NOT NULL,
    created_at timestamp without time zone DEFAULT now(),
    password_hash text,
    username text,
    email text,
    phone_number text,
    CONSTRAINT admins_status_check CHECK ((status = ANY (ARRAY['Active'::text, 'Inactive'::text])))
);


ALTER TABLE public.admins OWNER TO postgres;

--
-- Name: brands; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.brands (
    brand_id uuid DEFAULT gen_random_uuid() NOT NULL,
    name text NOT NULL,
    created_at timestamp without time zone DEFAULT now()
);


ALTER TABLE public.brands OWNER TO postgres;

--
-- Name: credit_history; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.credit_history (
    credit_id uuid DEFAULT gen_random_uuid() NOT NULL,
    sales_id uuid NOT NULL,
    payment_option text NOT NULL,
    balance_paid numeric(10,2) DEFAULT 0 NOT NULL,
    date_paid timestamp without time zone DEFAULT now(),
    CONSTRAINT credit_history_balance_paid_check CHECK ((balance_paid >= (0)::numeric)),
    CONSTRAINT credit_history_payment_option_check CHECK ((payment_option = ANY (ARRAY['Fully Paid'::text, 'Credit'::text])))
);


ALTER TABLE public.credit_history OWNER TO postgres;

--
-- Name: customers; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.customers (
    customer_id uuid DEFAULT gen_random_uuid() NOT NULL,
    name text NOT NULL,
    location text,
    phone_number text,
    created_at timestamp without time zone DEFAULT now()
);


ALTER TABLE public.customers OWNER TO postgres;

--
-- Name: expenses; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.expenses (
    expenses_id integer NOT NULL,
    expenses character varying(255) NOT NULL,
    amount numeric(10,2) NOT NULL,
    date date DEFAULT CURRENT_DATE NOT NULL,
    CONSTRAINT expenses_amount_check CHECK ((amount >= (0)::numeric))
);


ALTER TABLE public.expenses OWNER TO postgres;

--
-- Name: expenses_expenses_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.expenses_expenses_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.expenses_expenses_id_seq OWNER TO postgres;

--
-- Name: expenses_expenses_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.expenses_expenses_id_seq OWNED BY public.expenses.expenses_id;


--
-- Name: lpg_products; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.lpg_products (
    product_id text NOT NULL,
    brand text NOT NULL,
    weight_class numeric(5,2) NOT NULL,
    status text NOT NULL,
    stock_quantity integer DEFAULT 0 NOT NULL,
    health_indicator text NOT NULL,
    regular_retail numeric(10,2) NOT NULL,
    wholesale_price numeric(10,2) NOT NULL,
    created_at timestamp without time zone DEFAULT now(),
    updated_at timestamp without time zone DEFAULT now(),
    initial_price numeric(10,2) DEFAULT 0 NOT NULL,
    is_archived boolean DEFAULT false NOT NULL,
    archived_at timestamp with time zone,
    CONSTRAINT lpg_products_health_indicator_check CHECK ((health_indicator = ANY (ARRAY['Good Stock'::text, 'Low Stock'::text, 'Out of Stock'::text]))),
    CONSTRAINT lpg_products_initial_price_check CHECK ((initial_price >= (0)::numeric)),
    CONSTRAINT lpg_products_status_check CHECK ((status = ANY (ARRAY['Filled Tank'::text, 'Empty Cylinder'::text]))),
    CONSTRAINT lpg_products_weight_class_check CHECK ((weight_class = ANY (ARRAY[2.7, (5)::numeric, (11)::numeric, (22)::numeric, (50)::numeric])))
);


ALTER TABLE public.lpg_products OWNER TO postgres;

--
-- Name: COLUMN lpg_products.initial_price; Type: COMMENT; Schema: public; Owner: postgres
--

COMMENT ON COLUMN public.lpg_products.initial_price IS 'Acquisition/base cost of the product. Used to compute Cost of Goods Sold (COGS) for Net Income reporting.';


--
-- Name: password_reset_tokens; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.password_reset_tokens (
    token_id uuid DEFAULT gen_random_uuid() NOT NULL,
    admin_id uuid NOT NULL,
    token_hash text NOT NULL,
    expires_at timestamp without time zone NOT NULL,
    used_at timestamp without time zone,
    created_at timestamp without time zone DEFAULT now()
);


ALTER TABLE public.password_reset_tokens OWNER TO postgres;

--
-- Name: sales_records; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.sales_records (
    sale_id uuid DEFAULT gen_random_uuid() NOT NULL,
    customer_id uuid NOT NULL,
    product_id text NOT NULL,
    status text NOT NULL,
    sale_quantity integer NOT NULL,
    date_created timestamp without time zone DEFAULT now(),
    date_updated timestamp without time zone DEFAULT now(),
    price_type text,
    unit_price numeric(10,2) DEFAULT 0 NOT NULL,
    total_amount numeric(10,2) DEFAULT 0 NOT NULL,
    lpg_tank_variant text,
    CONSTRAINT sales_records_price_type_check CHECK ((price_type = ANY (ARRAY['Regular Retail'::text, 'Wholesale'::text]))),
    CONSTRAINT sales_records_sale_quantity_check CHECK ((sale_quantity > 0)),
    CONSTRAINT sales_records_status_check CHECK ((status = ANY (ARRAY['Dropped'::text, 'Active'::text, 'Finished'::text, 'Archived'::text])))
);


ALTER TABLE public.sales_records OWNER TO postgres;

--
-- Name: expenses expenses_id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.expenses ALTER COLUMN expenses_id SET DEFAULT nextval('public.expenses_expenses_id_seq'::regclass);


--
-- Name: admins admins_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.admins
    ADD CONSTRAINT admins_pkey PRIMARY KEY (admin_id);


--
-- Name: brands brands_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.brands
    ADD CONSTRAINT brands_pkey PRIMARY KEY (brand_id);


--
-- Name: credit_history credit_history_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.credit_history
    ADD CONSTRAINT credit_history_pkey PRIMARY KEY (credit_id);


--
-- Name: customers customers_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.customers
    ADD CONSTRAINT customers_pkey PRIMARY KEY (customer_id);


--
-- Name: expenses expenses_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.expenses
    ADD CONSTRAINT expenses_pkey PRIMARY KEY (expenses_id);


--
-- Name: lpg_products lpg_products_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.lpg_products
    ADD CONSTRAINT lpg_products_pkey PRIMARY KEY (product_id);


--
-- Name: password_reset_tokens password_reset_tokens_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.password_reset_tokens
    ADD CONSTRAINT password_reset_tokens_pkey PRIMARY KEY (token_id);


--
-- Name: sales_records sales_records_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.sales_records
    ADD CONSTRAINT sales_records_pkey PRIMARY KEY (sale_id);


--
-- Name: idx_admins_email_lower; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX idx_admins_email_lower ON public.admins USING btree (lower(email));


--
-- Name: idx_admins_phone_number; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_admins_phone_number ON public.admins USING btree (phone_number) WHERE ((phone_number IS NOT NULL) AND (TRIM(BOTH FROM phone_number) <> ''::text));


--
-- Name: idx_admins_username_lower; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX idx_admins_username_lower ON public.admins USING btree (lower(username));


--
-- Name: idx_brands_name_lower; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX idx_brands_name_lower ON public.brands USING btree (lower(name));


--
-- Name: idx_credit_history_date_paid; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_credit_history_date_paid ON public.credit_history USING btree (date_paid);


--
-- Name: idx_credit_history_sales_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_credit_history_sales_id ON public.credit_history USING btree (sales_id);


--
-- Name: idx_expenses_date; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_expenses_date ON public.expenses USING btree (date);


--
-- Name: idx_lpg_products_brand; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_lpg_products_brand ON public.lpg_products USING btree (brand);


--
-- Name: idx_password_reset_tokens_admin; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_password_reset_tokens_admin ON public.password_reset_tokens USING btree (admin_id);


--
-- Name: idx_sales_records_date_created; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_sales_records_date_created ON public.sales_records USING btree (date_created);


--
-- Name: credit_history credit_history_sales_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.credit_history
    ADD CONSTRAINT credit_history_sales_id_fkey FOREIGN KEY (sales_id) REFERENCES public.sales_records(sale_id) ON DELETE CASCADE;


--
-- Name: password_reset_tokens password_reset_tokens_admin_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.password_reset_tokens
    ADD CONSTRAINT password_reset_tokens_admin_id_fkey FOREIGN KEY (admin_id) REFERENCES public.admins(admin_id) ON DELETE CASCADE;


--
-- Name: sales_records sales_records_customer_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.sales_records
    ADD CONSTRAINT sales_records_customer_id_fkey FOREIGN KEY (customer_id) REFERENCES public.customers(customer_id) ON DELETE RESTRICT;


--
-- Name: sales_records sales_records_product_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.sales_records
    ADD CONSTRAINT sales_records_product_id_fkey FOREIGN KEY (product_id) REFERENCES public.lpg_products(product_id) ON DELETE RESTRICT;


--
-- Name: admins; Type: ROW SECURITY; Schema: public; Owner: postgres
--

ALTER TABLE public.admins ENABLE ROW LEVEL SECURITY;

--
-- Name: brands; Type: ROW SECURITY; Schema: public; Owner: postgres
--

ALTER TABLE public.brands ENABLE ROW LEVEL SECURITY;

--
-- Name: credit_history; Type: ROW SECURITY; Schema: public; Owner: postgres
--

ALTER TABLE public.credit_history ENABLE ROW LEVEL SECURITY;

--
-- Name: customers; Type: ROW SECURITY; Schema: public; Owner: postgres
--

ALTER TABLE public.customers ENABLE ROW LEVEL SECURITY;

--
-- Name: expenses; Type: ROW SECURITY; Schema: public; Owner: postgres
--

ALTER TABLE public.expenses ENABLE ROW LEVEL SECURITY;

--
-- Name: lpg_products; Type: ROW SECURITY; Schema: public; Owner: postgres
--

ALTER TABLE public.lpg_products ENABLE ROW LEVEL SECURITY;

--
-- Name: password_reset_tokens; Type: ROW SECURITY; Schema: public; Owner: postgres
--

ALTER TABLE public.password_reset_tokens ENABLE ROW LEVEL SECURITY;

--
-- Name: sales_records; Type: ROW SECURITY; Schema: public; Owner: postgres
--

ALTER TABLE public.sales_records ENABLE ROW LEVEL SECURITY;

--
-- Name: SCHEMA public; Type: ACL; Schema: -; Owner: pg_database_owner
--

GRANT USAGE ON SCHEMA public TO postgres;
GRANT USAGE ON SCHEMA public TO anon;
GRANT USAGE ON SCHEMA public TO authenticated;
GRANT USAGE ON SCHEMA public TO service_role;


--
-- Name: TABLE admins; Type: ACL; Schema: public; Owner: postgres
--

GRANT ALL ON TABLE public.admins TO anon;
GRANT ALL ON TABLE public.admins TO authenticated;
GRANT ALL ON TABLE public.admins TO service_role;


--
-- Name: TABLE brands; Type: ACL; Schema: public; Owner: postgres
--

GRANT ALL ON TABLE public.brands TO anon;
GRANT ALL ON TABLE public.brands TO authenticated;
GRANT ALL ON TABLE public.brands TO service_role;


--
-- Name: TABLE credit_history; Type: ACL; Schema: public; Owner: postgres
--

GRANT ALL ON TABLE public.credit_history TO anon;
GRANT ALL ON TABLE public.credit_history TO authenticated;
GRANT ALL ON TABLE public.credit_history TO service_role;


--
-- Name: TABLE customers; Type: ACL; Schema: public; Owner: postgres
--

GRANT ALL ON TABLE public.customers TO anon;
GRANT ALL ON TABLE public.customers TO authenticated;
GRANT ALL ON TABLE public.customers TO service_role;


--
-- Name: TABLE expenses; Type: ACL; Schema: public; Owner: postgres
--

GRANT ALL ON TABLE public.expenses TO anon;
GRANT ALL ON TABLE public.expenses TO authenticated;
GRANT ALL ON TABLE public.expenses TO service_role;


--
-- Name: SEQUENCE expenses_expenses_id_seq; Type: ACL; Schema: public; Owner: postgres
--

GRANT ALL ON SEQUENCE public.expenses_expenses_id_seq TO anon;
GRANT ALL ON SEQUENCE public.expenses_expenses_id_seq TO authenticated;
GRANT ALL ON SEQUENCE public.expenses_expenses_id_seq TO service_role;


--
-- Name: TABLE lpg_products; Type: ACL; Schema: public; Owner: postgres
--

GRANT ALL ON TABLE public.lpg_products TO anon;
GRANT ALL ON TABLE public.lpg_products TO authenticated;
GRANT ALL ON TABLE public.lpg_products TO service_role;


--
-- Name: TABLE password_reset_tokens; Type: ACL; Schema: public; Owner: postgres
--

GRANT ALL ON TABLE public.password_reset_tokens TO anon;
GRANT ALL ON TABLE public.password_reset_tokens TO authenticated;
GRANT ALL ON TABLE public.password_reset_tokens TO service_role;


--
-- Name: TABLE sales_records; Type: ACL; Schema: public; Owner: postgres
--

GRANT ALL ON TABLE public.sales_records TO anon;
GRANT ALL ON TABLE public.sales_records TO authenticated;
GRANT ALL ON TABLE public.sales_records TO service_role;


--
-- Name: DEFAULT PRIVILEGES FOR SEQUENCES; Type: DEFAULT ACL; Schema: public; Owner: postgres
--

ALTER DEFAULT PRIVILEGES FOR ROLE postgres IN SCHEMA public GRANT ALL ON SEQUENCES TO postgres;
ALTER DEFAULT PRIVILEGES FOR ROLE postgres IN SCHEMA public GRANT ALL ON SEQUENCES TO anon;
ALTER DEFAULT PRIVILEGES FOR ROLE postgres IN SCHEMA public GRANT ALL ON SEQUENCES TO authenticated;
ALTER DEFAULT PRIVILEGES FOR ROLE postgres IN SCHEMA public GRANT ALL ON SEQUENCES TO service_role;


--
-- Name: DEFAULT PRIVILEGES FOR SEQUENCES; Type: DEFAULT ACL; Schema: public; Owner: supabase_admin
--

ALTER DEFAULT PRIVILEGES FOR ROLE supabase_admin IN SCHEMA public GRANT ALL ON SEQUENCES TO postgres;
ALTER DEFAULT PRIVILEGES FOR ROLE supabase_admin IN SCHEMA public GRANT ALL ON SEQUENCES TO anon;
ALTER DEFAULT PRIVILEGES FOR ROLE supabase_admin IN SCHEMA public GRANT ALL ON SEQUENCES TO authenticated;
ALTER DEFAULT PRIVILEGES FOR ROLE supabase_admin IN SCHEMA public GRANT ALL ON SEQUENCES TO service_role;


--
-- Name: DEFAULT PRIVILEGES FOR FUNCTIONS; Type: DEFAULT ACL; Schema: public; Owner: postgres
--

ALTER DEFAULT PRIVILEGES FOR ROLE postgres IN SCHEMA public GRANT ALL ON FUNCTIONS TO postgres;
ALTER DEFAULT PRIVILEGES FOR ROLE postgres IN SCHEMA public GRANT ALL ON FUNCTIONS TO anon;
ALTER DEFAULT PRIVILEGES FOR ROLE postgres IN SCHEMA public GRANT ALL ON FUNCTIONS TO authenticated;
ALTER DEFAULT PRIVILEGES FOR ROLE postgres IN SCHEMA public GRANT ALL ON FUNCTIONS TO service_role;


--
-- Name: DEFAULT PRIVILEGES FOR FUNCTIONS; Type: DEFAULT ACL; Schema: public; Owner: supabase_admin
--

ALTER DEFAULT PRIVILEGES FOR ROLE supabase_admin IN SCHEMA public GRANT ALL ON FUNCTIONS TO postgres;
ALTER DEFAULT PRIVILEGES FOR ROLE supabase_admin IN SCHEMA public GRANT ALL ON FUNCTIONS TO anon;
ALTER DEFAULT PRIVILEGES FOR ROLE supabase_admin IN SCHEMA public GRANT ALL ON FUNCTIONS TO authenticated;
ALTER DEFAULT PRIVILEGES FOR ROLE supabase_admin IN SCHEMA public GRANT ALL ON FUNCTIONS TO service_role;


--
-- Name: DEFAULT PRIVILEGES FOR TABLES; Type: DEFAULT ACL; Schema: public; Owner: postgres
--

ALTER DEFAULT PRIVILEGES FOR ROLE postgres IN SCHEMA public GRANT ALL ON TABLES TO postgres;
ALTER DEFAULT PRIVILEGES FOR ROLE postgres IN SCHEMA public GRANT ALL ON TABLES TO anon;
ALTER DEFAULT PRIVILEGES FOR ROLE postgres IN SCHEMA public GRANT ALL ON TABLES TO authenticated;
ALTER DEFAULT PRIVILEGES FOR ROLE postgres IN SCHEMA public GRANT ALL ON TABLES TO service_role;


--
-- Name: DEFAULT PRIVILEGES FOR TABLES; Type: DEFAULT ACL; Schema: public; Owner: supabase_admin
--

ALTER DEFAULT PRIVILEGES FOR ROLE supabase_admin IN SCHEMA public GRANT ALL ON TABLES TO postgres;
ALTER DEFAULT PRIVILEGES FOR ROLE supabase_admin IN SCHEMA public GRANT ALL ON TABLES TO anon;
ALTER DEFAULT PRIVILEGES FOR ROLE supabase_admin IN SCHEMA public GRANT ALL ON TABLES TO authenticated;
ALTER DEFAULT PRIVILEGES FOR ROLE supabase_admin IN SCHEMA public GRANT ALL ON TABLES TO service_role;


--
-- PostgreSQL database dump complete
--

\unrestrict qb1XCj486KddVdTFdWjRWYAr7MDG5Zk23HV6VwHtIIA1DFB5qNRft4dl8PkEpzX

